@import '~assets/styles/_colors.scss';

.Card {
  width: 600px;
  margin: auto;
}

.NoValue {
  color: $lightBlue;
  padding: 0px 5px;
}

.Avatar {
  width: 60px;
  height: 60px;
}

.Name {
  line-height: 60px;
  vertical-align: top;
  margin-left: 20px;
}
