@import '~assets/styles/_colors.scss';

.HeaderNavigation {
  background-color: $black;
  color: $logan;
  box-shadow: 0px 5px 10px $jarrah;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0;
}

.ActiveLink {
  color: $olive;
  font-weight: bolder;
}

.PersonName {
  color: $chenin;
  font-weight: bolder;
}

.ContentWrap {
  padding: 20px 50px;
}
