$black: #20222F;
$porsche: #D99858;
$logan: #999FBF;
$crimson: #F13D4C;
$darkBlue: #0C59A5;
$lightBlue: #9CD0FF;
$royalBlue: #4167DA;
$chenin: #CCB361;
$mustard: #756013;
$jarrah: #25191B;
$olive: #91941D;
$grey: #ddd;

// Exports variables to be used in JS theme definition at assets/themes.
:export {
  black: $black;
  porsche: $porsche;
  logan: $logan;
  crimson: $crimson;
  darkBlue: $darkBlue;
  lightBlue: $lightBlue;
  royalBlue: $royalBlue;
  chenin: $chenin;
  mustard: $mustard;
  jarrah: $jarrah;
  olive: $olive;
  grey: $grey;
}
