@import './_colors';

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

:global {
  #root {
    background-color: $grey;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

a {
  color: $logan;
  text-decoration: none;

  &:hover {
    color: $chenin;
  }
}

h1 {
  width: 100%;
  text-align: center;
}
